<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
    {% include buttons.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        {% if site.github.is_project_page %}
          <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
        {% endif %}

        <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
        <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        <div class="h0" id="project_authors"> by <a href="https://www.azak.cc"><u>Alex Zakharov</u>*</a>, <a href=""><u>Qinghai Guo</u></a>, <a href="http://www.zfountas.com"><u>Zafeirios Fountas</u>*</a> </div>
        <div class="h00" id="project_authors">*Equal contribution</div>
        <br/>
        <a href="https://openreview.net/pdf?id=JxFgJbZ-wft" class="button">Paper</a> 
        <a href="https://youtu.be/bjdYtTpjGQ0" class="button">Presentation</a> 
        <a href="#citeus" class="button">Cite</a> 
                
        {% if site.show_downloads %}
          <section id="downloads">
            <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
            <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
          </section>
        {% endif %}
      </header>
      <div class="hero">
        {{ page.hero_text }}
      </div>
  </div>

  <!-- MAIN CONTENT -->
  <div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
      {{ content }}
    </section>
  </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <!-- <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p> -->
      </footer>
    </div>
  </body>
</html>
